<% layout("/layouts/boilerplate") %>
<body>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-8 col-md-6">
      <h3><%= listing.title %> </h3>

      <div class="card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top show-img"
          alt="listing_image"
        />
        <div class="card-body">
          <p class="card-text">

            ₹<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night <br />
            <%= listing.description %> <br />
            <%= listing.location %> <br />
            <%= listing.country %> <br />
          </p>
          <div class="card-body d-flex justify-content">
            <div>
              <form method="get" action="/listings/<%=listing._id%>/edit">
                <button class="btn btn-dark edit-btn">Edit</button>
              </form>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div>
              <form
                method="post"
                action="/listings/<%=listing._id%>?_method=Delete"
              >
                <button class="btn btn-dark">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

            <div class = "col-8 offset-2">
              <hr>
              <h4>Leave a Review</h4>
              <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                  <label for="rating" class="form-label">rating</label>
                  <input type="range" class="form-range"  min="1" max="5" id="rating" name="review[rating]" required>
                </div>
                <div class="mb-3 mt-3">
                  <label for="comment" class="form-label">Comments</label>
                  <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                  <div class="invalid-feedback">Please enter your comment for the review.</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
              </form>
            </div>

  </div>
</body>
